@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Kollektif-Bold;
        src: url(/font/kollektif/Kollektif-Bold.ttf)
	}

	@font-face {
        font-family: Kollektif;
        src: url(/font/kollektif/Kollektif.ttf)
	}
}

@variants focus, hover {
    .bg--pink{
		background: #DE4045;
	}
}

.font--kollektif {
	font-family: Kollektif;
}

.font--kollektif-bold {
	font-family: Kollektif-Bold;
}

.bg--header-gradient {
	background: linear-gradient(121.44deg, #DE4045 -2.03%, rgba(222, 64, 69, 0.71) 79.87%);
}


.bg--gradient-black{
	background: linear-gradient(122.56deg, #3E3E3E -6.12%, #0D0D0D 108.94%);
}

.bg--section{
	background: #FFF4F5;
}

.bg--gradient-pink{
	background: linear-gradient(121.44deg, #DE4045 -2.03%, rgba(222, 64, 69, 0.71) 79.87%);
}	

.text--grey-transparent{
	color: rgba(100, 100, 100, 0.72);
}

.text--pink{
	color: #DE4045;
}

.bg--pink{
	background: #DE4045;
}

.bg--blue-blur{
	background: #3B28C2;
	backdrop-filter: blur(200px);
}

.bg--green-blur{
	background: #008049;
	backdrop-filter: blur(200px);
}

.bg--yellow-blur{
	background: #FFBB00;
	backdrop-filter: blur(200px);
}

.bg--red-blur{
	background: #DE4045;
	backdrop-filter: blur(200px);
}

.bg--gray-light{
	background: #FCFCFC;
}

.bg--gray-input{
	background: #D1D1D1;
}

.bg--green-blur{
	background: conic-gradient(from 180deg at 50% 50%, #020031 0deg, #090035 22.31deg, #2B045E 31.32deg, #290454 37.59deg, #3F0571 49.46deg, #5C068B 67.67deg, #8B0A9A 108.66deg, #9E0B8D 135.48deg, #F01866 159.09deg, #FD5554 168.49deg, #FF7153 179.41deg, #FF6B45 180.25deg, #F86225 185.2deg, #FE7940 189.94deg, #EC8D39 206.51deg, #CC7945 219.96deg, #B8B2B4 226.27deg, #B5B8C7 236.05deg, #9FADD0 269.42deg, #88A0CE 277.72deg, #0064BE 306.42deg, #005EB6 306.9deg, #02205D 321.45deg, #020031 360deg);
}

.bg--green{
	background: #008049;
}


@layer utilities {
	.height--60vh{
		height: 60vh;
	}

	.height--80vh{
		height: 80vh;
	}
	@variants responsive {
		.height--90vh{
			height: 90vh;
		}

		.height--50vh{
			height: 50vh;
		}

		.line--height-88c84{
			line-height: 88.84%;
		}

		.line--height-97{
			line-height: 97%;
		}

		.line--height-99c34{
			line-height: 99.34%;
		}
		

		.line--height-124c34{
			line-height: 124.34%;
		}

		.font--size-13{
			font-size: 13px;
		}

		.font--size-14{
			font-size: 14px;
		}

		.font--size-15{
			font-size: 15px;
		}
		
		.font--size-16{
			font-size: 16px;
		}

		.font--size-17{
			font-size: 17px;
		}

		.font--size-18{
			font-size: 18px;
		}

		.font--size-19{
			font-size: 19px;
		}

		.font--size-20{
			font-size: 20px;
		}
		
		.font--size-21{
			font-size: 21px;
		}

		.font--size-22{
			font-size: 22px;
		}
		
		.font--size-24{
			font-size: 24px;
		}

		.font--size-26{
			font-size: 26px;
		}

		.font--size-27{
			font-size: 27px;
		}

		.font--size-28{
			font-size: 28px;
		}

		.font--size-30{
			font-size: 30px;
		}

		.font--size-35{
			font-size: 35px;
		}

		.font--size-38{
			font-size: 38px;
		}

		.font--size-39{
			font-size: 39px;
		}

		.font--size-42{
			font-size: 42px;
		}

		.font--size-52{
			font-size: 52px;
		}

		.font--size-55{
			font-size: 55px;
		}
		
		.font--size-65{
			font-size: 65px;
		}

		.font--size-75{
			font-size: 75px;
		}

		.font--size-80{
			font-size: 80px;
		}

		.font--size-85{
			font-size: 85px;
		}

		.font--size-95{
			font-size: 95px;
		}

		.font--size-100{
			font-size: 100px;
		}

		.font--size-150{
			font-size: 150px;
		}
		
		.font--size-190{
			font-size: 190px;
		}
	}
}


/* .height--header{
	height: 80vh;
} */

/* @media (min-width: 768px){
	.height--header{
		height: 90vh;
	}
	
	.font--size-header-title {
		font-size: 190px;
	}
	
	.font--size-sub-header {
		font-size: 24px;
	}
	
	.font--size-header-description{
		font-size: 22px;
	}

	.font--size-section-title {
		font-size: 65px;
	}

	.font--size-section-description{
		font-size: 22px;
	}

	.font--size-title-with-hr{
		font-size: 52px;
	}

	.font--size-description{
		font-size: 22px;
	}

	.font--size-button{
		font-size: 17px;
	}

	
	.font--size-inner-section-title{
		font-size: 85px;
	}

	.card--about-us-title{
		font-size: 21px;
		font-weight: bold;
	}

	.card--about-us-description {
		font-size: 20px;
	}

	.font--title-teams{
		font-size: 30px;
		font-weight: bold;
	}

	.font-description-teams{
		font-size: 17px;
	}

	.font--size-16{
		font-size: 16px;
	}

	.font--size-17{
		font-size: 17px;
	}

	.font--size-42{
		font-size: 42px;
	}
	.font--size-65{
		font-size: 65px;
	}

	.font--case-studies-title{
		font-size: 42px;
	}

	.font--case-studies-subtitle{
		font-size: 17px;
	}
	.font--case-studies-featured{
		font-size: 16px;
	}
	.font--case-studies-description{
		font-size: 17px;
	}
} */